  <div class="error-container">
  <h1 class="error-header">Database Connection Error</h1>
  <p class="error-text">Unfortunately, we couldn't connect to the database. Please try again later.</p>
  <p>{{ message }}</p>
  </div>

