    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Fastest Guessers</h1>
        <ul>
        {{#each highscores}} 
            <li>
                <span>{{this.name}}</span>
                <span>{{this.correctWord}}</span>
                <span>{{this.duration}}</span>
            </li>
        {{/each}}
        </ul>
    
    </body>
    </html>